@charset 'utf-8';

body {
  margin: 0;
  padding: 0;

  background-color: #849d8f; /*фон сайта*/

  color: #ffffff;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 27px;

  width: 1146px;
}

/* <---- BUTTON ----> */

.button {
  display: inline-block;

  vertical-align: top;

  color: #fefefe;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;

  text-decoration: none;

  background-color: #e84d37;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(bottom, #e74a35, #f26843);
  background-image: -o-linear-gradient(bottom, #e74a35, #f26843);
  background-image: linear-gradient(to top, #e74a35, #f26843);

  -webkit-box-shadow: 0 1px 2px 0 black;

          box-shadow: 0 1px 2px 0 black;

  border-style: none;
  border-radius: 22px;
  padding: 10px 15px;

}

.button:hover,
.button:focus {
  background-color: rgba(255, 255, 255, 1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(231, 74, 53, 0.8)), to(rgba(242, 104, 67, 0.8)));
  background-image: -webkit-linear-gradient(bottom, rgba(231, 74, 53, 0.8), rgba(242, 104, 67, 0.8));
  background-image: -o-linear-gradient(bottom, rgba(231, 74, 53, 0.8), rgba(242, 104, 67, 0.8));
  background-image: linear-gradient(to top, rgba(231, 74, 53, 0.8), rgba(242, 104, 67, 0.8));
  -webkit-box-shadow: 0 2px 2px 0 #ac1000;
          box-shadow: 0 2px 2px 0 #ac1000;
}

.button:active {
  -webkit-box-shadow: inset 0 1px 2px 0 black;
          box-shadow: inset 0 1px 2px 0 black;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#e74a35), to(#f26843));
  background-image: -webkit-linear-gradient(top, #e74a35, #f26843);
  background-image: -o-linear-gradient(top, #e74a35, #f26843);
  background-image: linear-gradient(to bottom, #e74a35, #f26843);
}

/* <---- INPUT ----> */

.input {
  min-height: 44px;

  padding-left: 14px;

  color: #323232;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid rgba(211, 211, 210, 1);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.input::-webkit-input-placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.input:-ms-input-placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.input::-ms-input-placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.input::placeholder {
  color: #999999;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.input:focus {
  outline: none;
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.input--textarea {
  min-width: 428px;
  min-height: 155px;
  padding-top: 9px;
}

/* <-------------------------------------- Header ---------------------------------------->*/

/* <--- MAIN-HEADER ---> */

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      /*
  -ms-flex-preferred-size: 1146px;
      flex-basis: 1146px;*/

  margin-top: 9px;
}

.main-header__item {
  display: none;
}

.main-header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-bottom: -120px;
  z-index: 1;
}

.main-header__text {
  margin: 0;
  margin-left: auto;
  margin-top: -8px;

  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

.main-header__text--phone {
  margin-top: 8px;
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;

  z-index: 2;
}

.main-header__text--phone:hover,
.main-header__text--phone:focus {
  color: #ffbc9e;
}

.main-header__main-nav {
  /* позиционирование нава относительно хедера*/

  margin-right: auto;
}

.main-header__user-nav {
  /* позиционирование пользовательской навигации относительно основного нава */
  margin-left: auto;
  margin-left: 160px;
}

.main-header__logo {
  min-width: 154px;
}

/* <--- MAIN-NAV ---> */

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 680px;
}

.main-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  max-width: 530px;

  list-style: none;
  margin: 0;
  padding: 0;

  margin-right: auto;
  margin-left: 13px;
  margin-right: -10px;
  margin-top: 0px;
}

.main-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin: 14px 0;
  margin-right: 3px;
  padding-bottom: 10px;

  position: relative;
}

.main-nav__link {
  padding: 7px 12px;

  background-color: transparent;

  border-radius: 15px;

  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  text-decoration: underline;
  color: #ffffff;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
          text-decoration-color: rgba(255, 255, 255, 0.3);
}

.main-nav__link:hover,
.main-nav__link:focus {
  background-color: #ffffff;
  color: #323232;
  text-decoration: underline;
}

.main-nav__link:hover,
.main-nav__link:focus {
  text-decoration: none;
}

.main-nav__link:active {
  -webkit-box-shadow: inset 0 1px 2px 0 black;
          box-shadow: inset 0 1px 2px 0 black;
}

.main-nav__link--current,
.main-nav__link--current:hover,
.main-nav__link--current:focus,
.main-nav__link--current:active {
  background-color: #cb765f;
  border-radius: 13px;

  color: #ffffff;

  text-decoration: none;
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}

.main-nav__item:hover .drop-down,
.main-nav__item:focus .drop-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* <--- DROP-DOWN ---> */

.drop-down {
  display: none;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

      -ms-flex-direction: column;

          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;

  list-style: none;
  margin: 0;
  padding: 0;

  background-color: rgba(255, 255, 255, 1);

  border-radius: 5px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  /*
  width: 145px;
*/
  position: absolute;
  top: 37px;
  left: -10px;
  z-index: 50;
}

.drop-down__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 150px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  width: 140px;

  padding-left: 6px;
  padding-right: 7px;
}

.drop-down__item-wrapper {
  width: 100%;
  padding-left: 6px;
  padding-right: 9px;
}

.drop-down__item-wrapper--important {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.drop-down__link {
  display: inline-block;

  vertical-align: top;

  min-height: 28px;
  width: 100%;

  margin: 0;
  padding-top: 5px;

  text-decoration: none;
  text-align: left;

  padding-left: 12px;

  color: #323232;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.drop-down__item:first-child:hover,
.drop-down__item:first-child:focus {
  border-radius: 5px 5px 0 0;
}

.drop-down__item:last-child:hover,
.drop-down__item:last-child:focus {
  border-radius: 0 0 5px 5px;
}

.drop-down__item:hover,
.drop-down__item:focus {
  background-color: #fbded8;
}

.drop-down__link:focus .drop-down__item {
  background-color: #fbded8;
}

.drop-down__link:active,
.drop-down__item:active {
  background-color: #f6b5a5;
}

.drop-down__item--important {}

.drop-down__link--important {
  padding-top: 10px;
  font-weight: bold;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.drop-down__item--current {
  background-color: #d07058;
}

.drop-down__link--current {
  color: #ffffff;
}

.drop-down__link--current:hover,
.drop-down__item--current:hover,
.drop-down__link--current:focus,
.drop-down__item--current:focus {
  background-color: #d07058;
}

/* <--- USER-NAV ---> */

.user-nav {
  max-width: 306px;
}

.user-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.user-nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 4px;
  margin-bottom: 3px;
  padding-bottom: 5px;

  min-height: 32px;

  position: relative;
}

.user-nav__item--search {
  width: 32px;
}
.user-nav__item--enter {
  width: 92px;
}
.user-nav__item--cart {
  min-width: 100px;
}
.user-nav__modal {
  position: absolute;

  z-index: 55;

  background-color: #f8f7f4;

  border-radius: 5px;

  -webkit-box-shadow: 0 10px 70px -15px #000000;

          box-shadow: 0 10px 70px -15px #000000;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.user-nav__modal--search {
  top: 36px;
  right: 1px;

  min-width: 341px;
  min-height: 84px;


  padding: 20px 15px;
}

.user-nav__modal--enter {
  top: 36px;
  right: -3px;
  /*
  min-width: 294px;
  /*
  min-height: 214px;
*/
  min-width: 277px;

  padding: 17px;
  padding-top: 19px;
  padding-bottom: 10px;
/*
  margin-right: -180px;
  transform: translateX(-180px);
  */
}

.user-nav__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-nav__form--search {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav__form--enter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-top: -10px;
}

.user-nav__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 240px;
}

.user-nav__input--search {
  min-width: 310px;
}

.user-nav__modal-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  margin: 10px 0;

  width: 240px;

}

.user-nav__links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-left: auto;
}

.user-nav__link {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.user-nav__link:hover,
.user-nav__link:focus,
.user-nav__link:active {
  color: #e84d37;
}

.user-nav__modal-button {
  min-width: 100px;
  margin-right: auto;
}

.user-nav__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          -ms-flex-item-align: center;
              align-self: center;

  -ms-flex-negative: 0;

      flex-shrink: 0;

  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.2);

  padding: 0;

  height: 32px;
}

.user-nav__button--search {
  width: 32px;
  min-height: 32px;

  border-radius: 50%;

  /*padding: 0;*/
}

.user-nav__item:hover .user-nav__modal,
.user-nav__item:focus .user-nav__modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-nav__button--enter {
  min-width: 90px;
}

.user-nav__button--cart {
  min-width: 100px;
}

.user-nav__button--cart-active {
  background-color: rgba(255, 255, 255, 1);
  min-width: 100px;
}

.user-nav__button:hover,
.user-nav__button:focus {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 15px;
}

.user-nav__button:hover .user-nav__text,
.user-nav__button:focus .user-nav__text {
  color: #323232;
}

.user-nav__icon {
  margin-left: 17px;
  margin-right: 8px;
}

.user-nav__icon--search {
  margin: 0;
}

.user-nav__icon--cart {
  margin-left: 14px;
}

.user-nav__button:hover .user-nav__icon,
.user-nav__button:focus .user-nav__icon {
  fill: #323232;
}

.user-nav__text {
  padding: 0;
  margin: 0;
  margin-right: auto;


  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.user-nav__text--active {
  color: #323232;
  margin-right: 15px;
}

/* <------------------------------------- Main Page -----------------------------------------> */

/* <--- SLIDER ---> */

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;

  min-height: 560px;

  position: relative;

  margin-bottom: 5px;
}

.slider__wrapper {
  padding-bottom: 30px;
}

.slider__inner-wrapper {
  position: relative;
}

.slider__item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__item--hidden {
  display: none;
}

.slider__image {
  position: absolute;
  top: -80px;
  left: 0;

  z-index: -100;
}

.slider__image--1 {
  bottom: -270px;
  left: 50px;
}

.slider__image--2 {
  bottom: -250px;
  left: 50px;
}

.slider__image--3 {
  bottom: -245px;
  left: 50px;
}

.slider__title {
  max-width: 680px;
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
  text-align: center;

  margin-top: 310px;
  margin-bottom: 0;
  padding-bottom: 35px;
}

.slider__ctrl-wrapper {
  position: absolute;
  bottom: 54px;
}

.slider__ctrl-btn {
  width: 21px;
  height: 21px;
  background-color: transparent;

  margin: 0 2px;

  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 50%;
}

.slide-green {
  background-color: #849d8f;
}
.slide-blue {
  background-color: #8996a6;
}
.slide-red {
  background-color: #9d8b84;
}

.slider__ctrl-btn:hover,
.slider__ctrl-btn:focus {
  background-color: rgba(255, 255, 255, 0.4);
}

.slider__ctrl-btn:active {
  background-color: rgba(255, 255, 255, 1);
}

.slider__ctrl-btn--current,
.slider__ctrl-btn--current:hover,
.slider__ctrl-btn--current:focus,
.slider__ctrl-btn--current:active {
  background-color: rgba(255, 255, 255, 1);
}

.slider__button {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;

  text-decoration: none;
  text-shadow: 0 2px 5px #a0200b;

  margin-top: 0;
  margin-bottom: 0;

  padding: 10px 40px;

  border-radius: 30px;
}

/* <--- PROMO ---> */

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.promo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  -ms-flex-item-align: start;

      align-self: flex-start;

  min-height: 229px;
  min-width: 560px;

  border-radius: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 20px;
  padding-top: 20px;
  padding-bottom: 23px;
}

.promo__item--raspberry {
  background-color: #85172c;
  background-image: url('../img/bg-raspberry-1.jpg');
  background-repeat: repeat;
  background-position: 22% 51%;
}

.promo__item--chocolate {
  background-color: #482c1f;
  background-image: url('../img/bg-chocolate-1.jpg');
  background-repeat: repeat;
  background-position: 78% 51%;
}

.promo__title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;

  margin: 0;
  padding: 0;

  margin-bottom: 15px;

/*
  margin-top: 18px;
  margin-left: 18px;
  margin-bottom: 0;
  */
}

.promo__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;

  margin: 0;
  padding: 0;

  padding-top: 0px;

  margin-bottom: auto;

  /*margin-top: -29px;
/*
  padding-left: 4px;

  margin-left: 15px;
  margin-bottom: auto;
*/
  max-width: 520px;
}

.promo__button {
  margin-left: 100px;
  margin-left: auto;

  -ms-flex-item-align: end;

      align-self: flex-end;

  padding: 10px 22px;

  font-weight: 700;
}

/* <--- HIT-SALES ---> */

.hit-sales {

  margin-bottom: -5px;

}

.hit-sales__wrapper {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-left: -26px;
}

.hit-sales__item {
  position: relative;
}

.hit-sales__item::before {
  content: '';

  width: 61px;
  height: 61px;

  position: absolute;
  top: 0px;
  left: 0px;

  -ms-flex-item-align: start;

      align-self: flex-start;

  background-image: url(../img/icon-hit.svg);
  background-repeat: no-repeat;

  z-index: 10;
}

/* <--- ADVANTAGES ---> */

.advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 306px;

  margin-top: 50px;

  background-color: #ebdfc5;
  background-image: url('../img/bg-waffle.jpg');
  background-size: cover;

  color: #323232;

  border-radius: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 20px;
  padding-bottom: 5px;
}

.advantages__main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      /*
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
*/
  margin-right: -35px;
}

.advantages__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color: #323232;

  margin: 0;
  padding: 0;

  margin-left: 1px;
  margin-bottom: 20px;
/*
  padding-left: 0px;
  margin-top: 20px;
  */
}

.advantages__text {
  position: relative;

  font-size: 16px;
  line-height: 22px;
  font-weight: 400;

  max-width: 480px;

  padding: 0;
  margin: 0;

  padding-left: 55px;
  margin-top: 0px;
  margin-right: 35px;
  margin-bottom: 20px;

/*
  margin-right: 10px;
  padding-top: 20px;

  */
}

.advantages__text--ice::before,
.advantages__text--leaf::before,
.advantages__text--cow::before,
.advantages__text--degree::before {
  content: '';

  position: absolute;
  left: 0px;
  top: -14px;

  width: 49px;
  height: 49px;
}

.advantages__text--ice::before {
  background-image: url('../img/icon-ice-cream.svg');
  background-repeat: no-repeat;
}

.advantages__text--leaf::before {
  top: -10px;
  background-image: url(../img/icon-leaf.svg);
  background-repeat: no-repeat;
}

.advantages__text--cow::before {
  top: -12px;
  left: -3px;
  background-image: url(../img/icon-cow.svg);
  background-repeat: no-repeat;
}

.advantages__text--degree::before {
  top: -10px;
  left: -3px;
  background-image: url(../img/icon-thermometer.svg);
  background-repeat: no-repeat;
}

/* <--- PAGE-WRAPPER ---> */

.page-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;

  margin-top: 20px;
  margin-bottom: 15px;
}

/* <--- BLOG-NEWS ---> */

.blog-news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  -ms-flex-item-align: start;

      align-self: flex-start;

  width: 560px;
  min-height: 221px;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 13px;
  margin-left: auto;

  background-color: #ffffff;
  background-image: url('../img/bg-strawberry-big.jpg');
  background-repeat: no-repeat;
  background-position: 15% 40%;

  color: #323232;

  border-radius: 13px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

.blog-news__title {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;

  margin-left: 19px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.blog-news__text {
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;

  margin-left: 20px;
  margin-bottom: auto;
  margin-top: 0;

  width: 285px;
}

.blog-news__link {
  color: #323232;
  text-decoration: underline;
  vertical-align: top;
}

.blog-news__link:focus,
.blog-news__link:hover {
  color: #e84d37;
}

/* <--- SUBSCRIPTION ---> */

.subscription {
  width: 560px;
  min-height: 210px;

  -ms-flex-item-align: start;

      align-self: flex-start;

  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: 13px;

  padding: 30px 20px;
  padding-top: 28px;
  padding-left: 22px;

  border-radius: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: #5a5a5a;

  background-color: #f8f7f4;
  border-radius: 15px;
  border-width: 5px;
  border-style: solid;
  border-color: lightblue;
  border-image-source: url('../img/bg-letter.svg');
  border-image-repeat: stretch stretch;
  border-image-slice: 8;
  border-image-width: 6px;
}

.subscription__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;

  padding: 0;
  margin: 0;

  margin-bottom: 35px;
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscription__btn {
  margin-left: auto;
  padding: 10px 18px;

  font-weight: 700;
}

.subscription__input {

  margin-right: 10px;

  border: 1px solid rgba(178, 178, 178, 0.52);

  padding-left: 18px;
  font-size: 16px;
}

.subscription__input:hover,
.subscription__input:focus {
  padding-left: 18px;
}

/* <------- MAP -------> */

.map {
  position: relative;

  width: 100%;
  min-height: 430px;

  background-image: url('../img/bg-map.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.map__container {
  position: relative;
}

.map__info {
  position: absolute;

  top: 65px;
  right: 30px;

  box-sizing: border-box;

  width: 302px;
  height: 305px;

  background-color: #ffffff;

  border-radius: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  padding: 25px;
  padding-top: 15px;
  padding-left: 28px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.map__info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.map__info-wrapper-1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.map__info-wrapper-2 {
  margin-top: 5px;
  margin-bottom: 20px;
}

.map__text {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;

  margin: 1.5px 0;
}

.map__text--big {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.map__text--phone {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.map__text--time {
  font-size: 14px;
  line-height: 22px;
}

.map__text--short {
  width: 150px;
}

.map__button {
  text-align: center;
}

/* <------- FEEDBACK -------> */

.feedback {
  position: fixed;

  top: 50%;
  left: 50%;

  -webkit-transform: translateY(-50%) translateX(-50%);

      -ms-transform: translateY(-50%) translateX(-50%);

          transform: translateY(-50%) translateX(-50%);

  width: 477px;
  height: 442px;

  background-color: #f8f7f4;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  border-radius: 5px;

  z-index: 101;

  padding: 25px;
  padding-top: 0;
  padding-bottom: 20px;
}

.feedback__title {
  color: #323232;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;

  padding: 0;
  margin: 0;

  margin-top: 15px;
  margin-bottom: 10px;
}

.feedback__close-btn {
  position: absolute;
  top: 15px;
  right: 15px;

  border: none;
  background-color: transparent;

  width: 18px;
  height: 18px;
}

.feedback__close-btn::before,
.feedback__close-btn::after {
  content: '';

  position: absolute;

  top: -3px;
  left: 8px;

  width: 2px;
  height: 23px;

  background-color: #323232;
}

.feedback__close-btn::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.feedback__close-btn::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feedback__wrapper {
  margin: 10px 0;
}

.feedback__input {
  min-width: 265px;

  font-size: 16px;
  line-height: 24px;
}

.feedback__input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.feedback__input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.feedback__input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 24px;
}

.feedback__input::placeholder {
  font-size: 16px;
  line-height: 24px;
}

.feedback__input--textarea {
  min-width: 428px;
  min-height: 155px;
  padding-top: 9px;
}

.feedback__button {
  margin-top: 13px;
  margin-left: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 10px 22px;
}

/* <------------------------------------ Footer -----------------------------------------> */

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 30px;
  margin-top: 0px;
}

.main-footer__social {
  margin-right: auto;
  margin-top: 0px;
}

.main-footer__info {
  margin-top: 0px;
  margin-bottom: 0px;
}

.main-footer__developers {
  margin-left: auto;
  margin-top: -10px;
  margin-bottom: 0px;
}

/* <--- SOCIAL ---> */

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  padding: 0;
  margin-left: -2px;
}

.social__item {
  margin: 6px;
  margin-left: 5px;
  margin-bottom: 5px;
  margin-right: 7px;
}

.social__link {
  display: inline-block;

  vertical-align: top;

  width: 32px;
  height: 32px;

  border: 2px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.social__link .social__icon {
  fill: rgba(255, 255, 255, 0.7);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: rgba(255, 255, 255, 1);
}

.social__link:active {
  fill: rgba(255, 255, 255, 0.8);
  border: 2px solid rgba(255, 255, 255, 0.7);
}

/* <--- INFO ---> */

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  list-style: none;

  max-height: 50px;
  width: 320px;

  margin: 0;
  padding: 0;

  margin-left: -12px;
}

.info__item {
  margin: 3px 15px;
  position: relative;
  margin-bottom: -2px;
  margin-top: 3px;
}

.info__heart {
  position: absolute;
  top: 6px;
  left: -17px;

  width: 7px;
  height: 7px;

  background-color: #ffffff;

  -webkit-transform: rotate(-45deg);

      -ms-transform: rotate(-45deg);

          transform: rotate(-45deg);
}

.info__heart::before,
.info__heart::after {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 7px;
  height: 7px;
  background-color: #ffffff;
  border-radius: 50%;
}

.info__heart::after {
  top: 0;
  left: 4px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.info__link {
  color: #ffffff;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
          text-decoration-color: rgba(255, 255, 255, 0.3);
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;

  position: relative;
}

/*.info__link--heart::before {
  content: '\2764';

  position: absolute;
  text-decoration: underline;


  left: -20px;
}

.info__link--heart::before {
  text-decoration: none;
}*/


.info__link:focus,
.info__link:hover {
  color: #ffbc9e;
}

.info__link:focus + .info__heart,
.info__link:focus + .info__heart::before,
.info__link:focus + .info__heart::after,
.info__link:hover + .info__heart,
.info__link:hover + .info__heart::before,
.info__link:hover + .info__heart::after {
  background-color: #ffbc9e;
}

/* <--- DEVELOPERS ---> */

.developers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.developers__text {
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

.developers__link {
  color: #fefefe;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
          text-decoration-color: rgba(255, 255, 255, 0.3);

  margin-right: -2px;
  margin-top: -3px;
}

.developers__link:hover,
.developers__link:focus {
  color: #ffbc9e;
}

.developers__image {
  padding-left: 0px;
  padding-bottom: 0;
}

/* <------------------------------------Catalogue Page -----------------------------------> */

.page-title {
  padding: 0;
  margin: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

/* <--- BREADCRUMBS ---> */

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  list-style: none;

  margin: 0;
  padding: 0;
  margin-top: 14px;
}

.breadcrumbs__item {
  margin: 5px 0;
  margin-right: 20px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.breadcrumbs__link {
  color: #ffffff;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
          text-decoration-color: rgba(255, 255, 255, 0.3);

  position: relative;
}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  color: #ffbc9e;
}

.breadcrumbs__link::after {
  content: '»';

  position: absolute;
  right: -15px;

  text-decoration: underline;
}

.breadcrumbs__link::after {
  text-decoration: none;
}

.breadcrumbs__link:hover::after {
  color: #ffffff;
}

/* <--- FORM ---> */

.forms {}

.forms__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  padding-top: 5px;

  /*max-width: 879px;*/
}

.forms__block {
  margin: 0 10px;
  margin-left: 0px;
  margin-top: 20px;
}

.forms__price {
  min-width: 220px;
}

.forms__fillers {
  margin-top: 15px;
}

.forms__price-value {
  width: 60px;
  background-color: transparent;

  border: none;

  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.forms__price--min {}

.forms__price--max {}


.forms__button {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;

  min-height: 36px;

  border-radius: 17px;
  border: none;

  -webkit-box-shadow: inset 0 0 0 2px white;

          box-shadow: inset 0 0 0 2px white;

  background-color: rgba(255, 255, 255, 0.2);

  padding: 7px 26px;
  margin: 0 7px;
  margin-left: 0px;
  margin-top: auto;
}

.forms__button:focus,
.forms__button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #323232;
}

.forms__button:active {
  background-color: #eaeaea;
  -webkit-box-shadow: inset 0 1px 6px -1px black;
          box-shadow: inset 0 1px 6px -1px black;
}

.forms__text {
  margin-left: 10px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.forms__legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  padding-left: 15px;
  padding-bottom: 5px;
}

.forms__legend--sorting {
  padding-left: 15px;
}

.forms__legend--price {
  padding-left: 15px;
  padding-bottom: 5px;
}

.forms__legend--fat-content {
  padding-left: 17px;
}

.forms__fieldset {
  border: none;
  padding: 0;
}

.forms__background {
  background-color: rgba(255, 255, 255, 0.3);
  min-height: 36px;

  border-radius: 16px;
}

.forms__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
  padding: 0 10px;
  padding-left: 5px;
  padding-right: 0;
}


.forms__wrapper--fillers {
  padding-right: 10px;
}

.forms__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin-left: 0px;
  margin-right: 18px;
  margin-top: 4px;
  padding-bottom: 2px;
  padding-left: 0px;
}

.forms__item-wrapper--first {
  margin-left: 10px;
}

.forms__item-wrapper--filler {
  margin-left: 0;
  margin-right: 10px;
  padding-left: 10px;
}

.forms__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  cursor: pointer;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.forms__icon {
  fill: rgba(255, 255, 255, 0.7);
}

.forms__icon-wrapper {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.forms__checkbox-on {
  fill: transparent;
}

.forms__radio-off {
  fill: rgba(255, 255, 255, 0.7);
}

.forms__radio-on {
  fill: transparent;
}

.forms__input:checked+.forms__icon>.forms__radio-on {
  fill: rgba(255, 255, 255, 0.7);
}

.forms__input:checked+.forms__icon .forms__checkbox-on {
  fill: rgba(255, 255, 255, 0.7);
}

.forms__input:checked+.forms__icon .forms__checkbox-off {
  fill: transparent;
}


.forms__input:not(:checked):hover+.forms__icon .forms__checkbox-off,
.forms__input:not(:checked):focus+.forms__icon .forms__checkbox-off {
  fill: rgba(255, 255, 255, 0.9);
}

.forms__input:checked:hover+.forms__icon .forms__checkbox-on,
.forms__input:checked:focus+.forms__icon .forms__checkbox-on {
  fill: rgba(255, 255, 255, 0.9);
}

.forms__input:checked:hover+.forms__icon>.forms__radio-on,
.forms__input:checked:focus+.forms__icon>.forms__radio-on {
  fill: rgba(255, 255, 255, 0.9);
}

.forms__input:hover+.forms__icon .forms__radio-off,
.forms__input:focus+.forms__icon .forms__radio-off {
  fill: rgba(255, 255, 255, 0.9);
}

/* disabled inputs \/ */

.forms__input:disabled+.forms__icon .forms__checkbox-off {
  fill: rgba(255, 255, 255, 0.3);
}

.forms__input:disabled+.forms__icon .forms__radio-off {
  fill: rgba(255, 255, 255, 0.3);
}

.forms__input:disabled:checked+.forms__icon .forms__radio-on {
  fill: rgba(255, 255, 255, 0.3);
}

.forms__input:disabled:checked+.forms__icon .forms__checkbox-off {
  fill: transparent;
}

.forms__input:disabled:checked+.forms__icon .forms__checkbox-on {
  fill: rgba(255, 255, 255, 0.3);
}

.forms__input:disabled:not(:checked)+.forms__icon .forms__checkbox-on {
  fill: transparent;
}

.forms__input:disabled:not(:checked)+.forms__icon .forms__radio-on {
  fill: transparent;
}

.forms__input:checked:disabled:hover+.forms__icon .forms__radio-on,
.forms__input:checked:disabled:focus+.forms__icon .forms__radio-on {
  fill: rgba(255, 255, 255, 0.3);
}

.forms__input:not(:checked):disabled:hover+.forms__icon .forms__checkbox-off,
.forms__input:not(:checked):disabled:focus+.forms__icon .forms__checkbox-off {
  fill: rgba(255, 255, 255, 0.3);
}

/* disabled inputs  /\ */

.forms__select {
  border: none;
  -webkit-appearance: none;

  min-width: 193px;

  padding-left: 15px;
  padding-top: 4px;

  color: #ffffff;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.forms__select-option {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.forms__select::-ms-expand {
    display: none;
}

.forms__select-wrapper {
  padding: 0;
  margin: 0;

  position: relative;
}

.forms__select-afterelement {
  position: absolute;
  top: 13px;
  right: 17px;

  width: 11px;
  height: 10px;
  background-color: transparent;
}

.forms__select-wrapper::after {
  content: '';

  width: 11px;
  height: 11px;

  background-image: url('../img/icon-down-dir.png');
  background-repeat: no-repeat;

  position: absolute;
  top: 13px;
  right: 17px;
  z-index: -100;
}

.forms__select:focus,
.forms__select:hover {
  color: #323232;
}

.forms__select:focus~.forms__select-afterelement {
  background-image: url('../img/icon-down-dir-black.png');
  background-repeat: no-repeat;
}
.forms__select:hover~.forms__select-afterelement {
  background-image: url('../img/icon-down-dir-black.png');
  background-repeat: no-repeat;
}
/*
.forms__select:hover~.forms__select-afterelement::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -1px;

  width: 11px;
  height: 11px;

  background-image: url('../img/icon-down-dir-black.png');
  background-repeat: no-repeat;
}
*/

.forms__select:focus {
  background-color: #ffffff;
}

.forms__input {
  display: none;
}

.forms__range-control {}


/* <--- RANGE-CONTROL ---> */


.range-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  position: relative;
  width: 218px;

}

.range-control__line {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 4px;
}

.range-control__line--passive {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 16px 21px;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.range-control__line--active {
  width: 50%;
  background-color: rgba(255, 255, 255, 0.9);

  margin-left: 30px;
}

.range-control__button {
  position: absolute;
  top: 8px;

  padding: 0;

  width: 20px;
  height: 20px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 50%;

  background-color: rgba(171, 171, 171, 1);

  cursor: pointer;
}

.range-control__button:hover,
.range-control__button:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.range-control__button--min {
  left: 35px;
}

.range-control__button--max {
  right: 65px;
}


/* <--- CATALOGUE ---> */

.catalogue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flew-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;

  margin: 0;
  padding: 0;

  margin-bottom: 70px;
  margin-top: 0px;
  margin-left: -26px;
}

.catalogue__item {
  /*width: 25%;*/
  width: 267px;
}

/* <--- PRODUCT-CARD ---> */

.product-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  -ms-flex-item-align: start;

      align-self: flex-start;
  padding-top: 5px;

  margin-top: 40px;
  margin-bottom: -40px;
  margin-left: 26px;

  width: 267px;

  position: relative;
}

.product-card__wrapper {
  position: relative;
}

.product-card__image {
  position: relative;
  z-index: -100;
}

.product-card:hover .product-card__image,
.product-card:focus .product-card__image {
  z-index: -5;
}

/*
.product-card:hover,
.product-card:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
*/


.product-card:hover::after,
.product-card:focus::after {
  content: '';

  width: 293px;
  min-height: 415px;
  height: auto;

  position: absolute;
  bottom: -50px;
  top: 0;
  left: -13px;

  background-color: rgba(255, 255, 255, 0.2);

  z-index: -11;
}


.product-card__button {
  display: none;
  min-width: 205px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 17px;
}

.product-card:hover .product-card__button,
.product-card:focus .product-card__button {
  display: block;

  position: absolute;
  bottom: -35px;
  left: 50%;

  -webkit-transform: translateX(-50%);

      -ms-transform: translateX(-50%);

          transform: translateX(-50%);

  z-index: 2;
}

.product-card__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  text-decoration: underline;
  -webkit-text-decoration-color: rgba(255, 255, 255, 0.3);
          text-decoration-color: rgba(255, 255, 255, 0.3);
  text-align: center;

  margin-top: 10px;
  min-height: 60px;
  width: 257px;
}

.product-card__price {
  position: absolute;
  bottom: -30px;
  left: -0px;

  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.product-card__weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}

/* <--- PAGINATION ---> */

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  margin-top: 88px;
  margin-bottom: 30px;
  margin-right: -8px;
}

.pagination__wrapper {
  margin-left: auto;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagination__item {
  margin: 0 2px;
  width: 26px;
  height: 26px;
}

.pagination__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  width: 26px;
  height: 26px;

  text-decoration: none;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
}

.pagination__link:hover,
.pagination__link:focus {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.pagination__link:active {
  color: #353535;
  background-color: #f2f5f3;
  border-radius: 50%;
}

.pagination__link--current,
.pagination__link--current:hover,
.pagination__link--current:focus {
  color: #353535;
  background-color: #f2f5f3;
  border-radius: 50%;
}


.pagination__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  width: 26px;
  height: 26px;

  border-radius: 50%;
  background-color: transparent;
}

.pagination__arrow {
  fill: rgba(255, 255, 255, 0.8);
}

.pagination__arrow--right {}

.pagination__arrow--left {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pagination__arrow--disabled {
  fill: rgba(255, 255, 255, 0.4);
}

/* <---------------------------------- Technical classes ----------------------------------> */


.outline {
  outline: 5px solid red;
  outline-offset: 1px;
}

.border {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid red;
}

/* <--- EMPTY ---> */


/* <-------------------------------------- Modal Popup ---------------------------------------->*/

.modal {
  display: none;
  z-index: 98;
}

.popup {
  display: none;


}

/* <---- CART ----> */

.cart {
  position: absolute;
  top: 36px;
  right: -5px;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

      -ms-flex-direction: column;

          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;

  min-width: 540px;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;

  padding: 15px;
  padding-top: 5px;

  background-color: #f8f7f4;
  border-radius: 5px;

  color: #323232;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.cart__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart__table {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0;
  padding: 0;

  border-collapse: separate;
  border-spacing: 0 7px;

  min-width: 510px;

  border-bottom: 1px solid #cacac7;
}

.cart__item {}

.cart__text {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 0;
  margin: 15px 0;
  margin-left: auto;

  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.cart__button {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-left: auto;
}

/* <---- ROW ----> */

.row {
  margin-bottom: 20px;
  border-spacing: 0 20px;
}

.row__item {
  text-align: center;
  vertical-align: middle;
  height: 50px;

  padding: 0;
}

.row__item--text {
  text-align: left;
  width: 230px;
}

.row__item--price {
  width: 125px;
}

.row__text--dim {
  color: #999999;
}

.row__button {
  position: relative;

  border: none;
  background-color: transparent;

  width: 11px;
  height: 11px;
}

.row__button::before,
.row__button::after {
  content: '';

  position: absolute;

  top: 0px;
  left: 5px;

  width: 1px;
  height: 12px;

  background-color: #323232;
}

.row__button::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.row__button::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

/* <---- OVERLAY ----> */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.3);

  z-index: 50;
}
